### Print .format

In [2]:
x= 10
y = 20
z = x+y

In [26]:
print("sum of {} and {} is {}".format(x,y,z))  #order of print is based on order of variables

sum of 10 and 20 is 30

In [12]:
print("sum of {0} and {1} is {2}".format(x,y,z))  #order of print is based on the order specifed. Should start with zero

sum of 10 and 20 is 30

In [15]:
print("sum of {one} and {two} is {three}".format(one=x,two=y,three=z))  #assigning print variables to literals

sum of 10 and 20 is 30

### Print using f string

In [20]:
x = 10
y = 20
z = x + y

In [32]:
print(f"sum of {x} and {y} is {z}")

sum of 10 and 20 is 30

### Decorator

In [71]:
def my_func_decorator(my_func):
    def my_func_wrapper():
        print("My func Wrapper")
        my_func()
        print("My func wrapper")
    return my_func_wrapper

In [78]:
@my_func_decorator
def my_func():
    print("my func")

In [73]:
def my_func():
    print("my func")

In [81]:
my_func()

My func Wrapper
my func
My func wrapper

###  List comprehension

In [87]:
x = [i**2 for i in range(10)]

In [90]:
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [176]:
x = [[x,y,z] for x in range(2) for y in range(2) for z in range(2)]

In [175]:
x

[[0, 0, 0],
 [0, 0, 1],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 1]]

In [126]:
import pandas as pd
from pandas import DataFrame

In [128]:
dframe1 = DataFrame(x,columns=['a','b','c'])

In [129]:
dframe1

   a  b  c
0  0  0  0
1  0  0  1
2  0  1  0
3  0  1  1
4  1  0  0
5  1  0  1
6  1  1  0
7  1  1  1

In [131]:
for eachitem in dframe1:
    print(eachitem)

a
b
c

In [140]:
'a' in dframe1

True

### Map and filter functions

In [141]:
def times2(var):
    return var * 2

In [143]:
times2(5)

10

In [144]:
list1 = [1,2,3,4,5]

In [151]:
list2 = list(map(times2,list1))

In [161]:
list2

[2, 4, 6, 8, 10]

### Lambda functions

In [165]:
#simple function
def times2(var):
    return var * 2

In [166]:
def times2(var): return var * 2

In [183]:
list(map(lambda var:  var * 2,list1))

[2, 4, 6, 8, 10]

In [173]:
dframe2 = dframe1 * 2

In [185]:
dframe2

   a  b  c
0  0  0  0
1  0  0  2
2  0  2  0
3  0  2  2
4  2  0  0
5  2  0  2
6  2  2  0
7  2  2  2

In [190]:
list1 = list(range(10))

In [192]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [198]:
evenonly = list(filter(lambda num:num%2==0,list1))

In [200]:
evenonly

[0, 2, 4, 6, 8]

In [202]:
len(evenonly)

5

In [208]:
"-".join(str(evenonly))

'[-0-,- -2-,- -4-,- -6-,- -8-]'

In [210]:
d = {'a':1,'b':2}

In [219]:
x,y = d.items()

In [225]:
x = [(1,2),(3,4),(5,6)]

In [226]:
for (a,b) in x:
    print(a)

1
3
5